<button class="btn btn-primary" id="btnTrigger">Server ı Tetikle</button>

@section Scripts{

    @*Signal R Client uygulamasını impelemente ettik*@
    <script src="~/signalr/signalr.min.js"></script>

    <script>


        $(document).ready(() => {

            //MVC projemdeki Hub adresine bağlanıyoruz
            //Domain adresine gerek yok aynı domain içerisindeyiz zaten
            //Startup ta belirlediğimiz bağlantı yolunu vermemiz önemli
            var connection = new signalR.HubConnectionBuilder().withUrl("/MyHub").build();

            connection.start().then(() => {
                alert("Bağlantı Başarılı");
            });

            //Server da ki metodumu tetikleyeceğim
            $("#btnTrigger").click(() => {
                //Server tarafında ki SendMessage metodunu çalıştırdık.Parametre bekleyen bir metot olduğu için paremetre de gönderdik
                connection.invoke("SendMessage","Mesajımı gönderdim").catch((err) => { console.log(err) });
            });

            connection.on("ReceiveMessage", (message) => {
                alert(`${message} içerikli mesaj başarıyla geldi`);
            });
        });


    </script>
}